<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hako.word"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="WordSupport"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
       	>
        <activity
            android:name="com.hako.word.SplashScreen"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.hako.word.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"> 
        </activity>
        <activity 
            android:name="com.hako.word.vocabulary.SummaryTab"
            android:theme="@android:style/Theme.Light.NoTitleBar"> 
        </activity>
        <activity 
            android:name="com.hako.word.vocabulary.DetailTab"
            android:theme="@android:style/Theme.Light.NoTitleBar"> 
        </activity>
        <activity 
            android:name="com.hako.word.vocabulary.VocabularyTabBar"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity 
            android:name="com.hako.word.lesson.SubLesson"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        
    </application>

</manifest>
